.search-container {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.search-bar{
  width: 100%;
  padding: 10px;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-bar:focus {
  outline: none;
  border: 1px solid #444;
}